<%- include('../includes/head.ejs') %>

<body>
    <!-- Page Preloder
    <div id="preloder">
        <div class="loader"></div>
    </div> -->

    <!-- Header Section Begin -->
    <%- include('../includes/navigation.ejs') %>

    <!-- Breadcrumb Section Begin -->
    <div class="breacrumb-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb-text">
                        <a href="#"><i class="fa fa-home"></i> Home</a>
                        <span>Login</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb Form Section Begin -->

    <!-- Register Section Begin -->
    <div class="register-login-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 offset-lg-3">
                    <div class="login-form">
                        <h2>Login</h2>
                        <% if (errorMessage) { %>
                        <div class="alert alert-danger" role="alert">
                            <%= errorMessage %>
                        </div>
                        <% } %>
                        <form action="/login" method="POST">
                            <div class="group-input">
                                <label for="email">E-mail address *</label>
                                <input class="<%= validationErrors.find(e => e.param === 'email') ? 'invalid' : '' %>"
                                    type="email" name="email" id="email" value="<%= oldInput.email %>">
                            </div>
                            <div class="group-input">
                                <label for="password">Password *</label>
                                <input
                                    class="<%= validationErrors.find(e => e.param === 'password') ? 'invalid' : '' %>"
                                    type="password" name="password" id="password" value="<%= oldInput.password %>">
                            </div>
                            <div class="group-input gi-check">
                                <div class="gi-more">

                                    <a href="/reset" class="forget-pass">Forget your Password</a>
                                </div>
                            </div>
                            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                            <button type="submit" class="site-btn login-btn">Sign In</button>
                        </form>
                        <div class="switch-login">
                            <a href="/signup" class="or-login">Or Create An Account</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Register Form Section End -->

    <%- include('../includes/end.ejs') %>