<%- include('../includes/head.ejs') %>


<body>
    <%- include('../includes/navigation.ejs') %>
    <!-- Product Shop Section Begin -->
    <section class="product-shop spad">
        <div class="container">
            <div class="row">
                <%- include('../includes/user-sidebar.ejs') %>

                <div class="col-lg-8 order-1 order-lg-2 edit-profile">
                    <!-- <span>Edit Profile</span> -->
                    <div class="card ">
                        <h5 class="card-header text-center ">Edit Profile</h5>
                        <form class="col-lg-12 centered" style="padding: 20px;" method="POST"
                            action="/admin/edit-profile">
                            <% if (errorMessage) { %>
                            <div class="alert alert-danger" role="alert">
                                <%= errorMessage %>
                            </div>
                            <% } %>
                            <div class="form-group">
                                <label for="change-username">Change UserName</label>
                                <input type="text" class="form-control" id="change-username" placeholder="UserName"
                                    value="<%= oldInput.userName %>" name="username">
                            </div>
                            <div class="form-group">
                                <label for="change-email">Change Email</label>
                                <input type="email" name="email" class="form-control" id="change-email"
                                    placeholder="Enter email" value="<%= oldInput.email %>">
                            </div>
                            <hr>
                            <h5 class="card-title text-center">Change Password</h5>
                            <hr>
                            <div class="form-row">
                                <div class="col-lg-4 col-md-12">
                                    <label for="old-password">Old Password</label>
                                    <input type="password" class="form-control" id="old-password" placeholder="Password"
                                        , name="old_password" value="<%= oldInput.oldPassword %>">
                                </div>
                                <div class="col-lg-4 col-md-12">
                                    <label for="new-password">New Password</label>
                                    <input type="password" class="form-control" id="new-password"
                                        placeholder="New Password" name="new_password" value="<%= oldInput.newPassword %>">
                                </div>
                                <div class="col-lg-4 col-md-12">
                                    <label for="confirm-password">Comfirm Password</label>
                                    <input type="password" class="form-control" id="confirm-password"
                                        placeholder="Confirm Password" name="confirm_password"
                                        value="<%= oldInput.confirmPassword %>">
                                </div>

                            </div>
                            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                            <button type="submit" class="btn">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Product Shop Section End -->
    <%- include('../includes/end.ejs') %></div>