<%- include('../includes/head.ejs') %>


<body>
    <%- include('../includes/navigation.ejs') %>
    <!-- Product Shop Section Begin -->
    <section class="product-shop spad">
        <div class="container">
            <div class="row">
                <%- include('../includes/user-sidebar.ejs') %>
                <div class="col-lg-8 order-1 order-lg-2">
                    <div class="product-show-option">
                        <div class="row">
                            <div class="col-lg-7 col-md-7">
                                <div class="select-option">
                                    <select class="sorting">
                                        <option value="">Default Sorting</option>
                                    </select>
                                    <select class="p-show">
                                        <option value="">Show:</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-5 col-md-5 text-right">
                                <p>Show 01- 09 Of 36 Product</p>
                            </div>
                        </div>
                    </div>
                    <div class="product-list">
                        <% if (prods.length > 0) { %>
                        <div class="row">
                            <% for (let product of prods) { %>
                            <div class="col-xl-4 col-lg-6 col-md-6 col-sm-6">
                                <div class="product-item" id="product-list">
                                    <div class="pi-pic">
                                        <img src="/<%= product.imageUrl %>" alt="<%= product.title %>">
                                        <div class="sale pp-sale">Sale</div>
                                        <div class="icon">
                                            <i class="icon_heart_alt"></i>
                                        </div>
                                        <ul>
                                            <li class="w-icon active"><a href="/products/<%= product._id %>">View</a></li>
                                            <li class="quick-view"><a
                                                    href="/admin/edit-product/<%= product._id %>?edit=true"> Edit</a>
                                            </li>
                                            <li class="w-icon"><input type="hidden" value="<%= product._id %>"
                                                    name="productId">
                                                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                                <a style="cursor: pointer;" onclick="deleteProduct(this)">Delete</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="pi-text">
                                        <div class="catagory-name">Towel</div>
                                        <a href="#">
                                            <h5><%= product.title %></h5>
                                        </a>
                                        <div class="product-price">$
                                            <%= product.price %>
                                            <span>$35.00</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <% } %>
                        </div>
                        <% } else { %>
                        <h1>No Products Found!</h1>
                        <% } %>
                    </div>

                </div>
            </div>
        </div>
    </section>
    <!-- Product Shop Section End -->
    <%- include('../includes/end.ejs') %></div>