<%- include('../includes/head.ejs') %>

<body>
    <%- include('../includes/navigation.ejs') %>

    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3">
                <form class="product-form"
                    action="/admin/<% if (editing) { %>edit-product<% } else { %>add-product<% } %>" method="POST"
                    enctype="multipart/form-data" style="margin: 50px 0;">
                    <% if (errorMessage) { %>
                    <div class="alert alert-danger" role="alert">
                        <%= errorMessage %>
                    </div>
                    <% } %>
                    <div class="form-row">
                        <div class="col-md-6 mb-3">
                            <label for="title">Product Name</label>
                            <input type="text"
                                class="form-control <%= validationErrors.find(e => e.param === 'title') ? 'is-invalid' : '' %>"
                                id="title" name="title" placeholder="title"
                                value="<% if (editing || hasError) { %><%= product.title %><% } %>" required>
                            <div class="invalid-feedback">
                                Please provide a valid Title.
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="category">Category</label>
                            <select id="category" name="category" class="form-control">
                                <option selected>Choose...</option>
                                <option>Women's</option>
                                <option>Men's</option>
                                <option>Kid's</option>
                                <option>Accessories/shoes</option>
                                <option>Other</option>
                            </select>
                        </div>
                    </div>

                    <!-- <div class="form-control">
                <label for="imageUrl">Image URL</label>
                <input 
                    class="<%= validationErrors.find(e => e.param === 'imageUrl') ? 'invalid' : '' %>"
                    type="text" 
                    name="imageUrl" 
                    id="imageUrl" 
                    value="<% if (editing || hasError) { %><%= product.imageUrl %><% } %>">
            </div> -->
                    <div class="custom-file">
                        <input type="file" name="image" id="image" class="custom-file-input"
                            value="<% if (editing || hasError) { %><%= product.imageUrl %><% } %>" >
                        <label class="custom-file-label" for="image">Choose image...</label>
                        <div class="invalid-feedback">Example invalid custom file feedback</div>
                    </div>

                    <!-- <div class="form-row">
                        <div class="group-input col-md-12 mb-3">
                            <label for="price">Price</label>
                            <input type="number" step="0.01"
                                class="form-control <%= validationErrors.find(e => e.param === 'price') ? 'is-invalid' : '' %>"
                                id="price" placeholder="Price"
                                value="<% if (editing || hasError) { %><%= product.price %><% } %>">
                            <div class="invalid-feedback">
                                Please provide a valid price.
                            </div>
                        </div>
                    </div> -->

                    <div class="form-group">
                        <label style="padding-top: 10px;" for="price">Price</label>
                        <input class="form-control <%= validationErrors.find(e => e.param === 'price') ? 'is-invalid' : '' %>"
                            type="number" name="price" id="price" step="0.01"
                            value="<% if (editing || hasError) { %><%= product.price %><% } %>">
                            <div class="invalid-feedback">
                                Please provide a valid price.
                            </div>
                    </div>
                    <div class="form-group">
                        <label for="description">Description</label>
                        <textarea
                            class="form-control <%= validationErrors.find(e => e.param === 'description') ? 'is-invalid' : '' %>"
                            id="description" name="description"
                            rows="5"><% if (editing || hasError) { %><%= product.description %><% } %></textarea>
                    </div>
                    <% if (editing) { %>
                    <input type="hidden" value="<%= product._id %>" name="productId">
                    <% } %>

                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                    <button class="site-btn login-btn" type="submit" style="width: 100%; margin-top: 10px;"><% if (editing) { %>Update Product<% } else { %>Add
                        Product<% } %></button>
                </form>
            </div>
        </div>
    </div>
    <%- include('../includes/end.ejs') %>