<header class="header-section">
    <div class="container">
        <div class="inner-header">
            <div class="row">
                <div class="col-lg-2 col-md-2">
                    <div class="logo">
                        <a href="/">
                            <img style="width: 115px;" src="https://lh3.googleusercontent.com/Gbauhz_4kmW1oYEx-g1JscbdG7CNIXHdc3-n1orfaVieDkklwCzULxestCr3qIc10T9HXbyhkWvZHPe9UujVfHMsjLuDdXQBPix5hIf0Pa2gYQsmBcNH_lNutxXT7Zg4bL_T6g256ISemwNMtuCwR0e3ECvri1HmE6Cwx5wO-9LCrxZXb_XA6oXW2ihTFh54hmkJ8_0wh6Ma_19x5nSMoksg07HyTpxmCesCzjknJnUHMUyjh0vgCIT-ZnuEVnzJt4IvTEk9G9a06qExP0EQNWTrnrF3PFvkIyGDwtUSu3Agst32_k4lnOu0VhDI0kSOj8fCngZpHMytq-2AkDSflkAOKg4E4ccM7iqF3uzedd9_wLesbGmBxymLCBEBBf1OWKgpr2e1ukoXGyshZAVg-VXuzfaBn6FZqdOpRxZ5xat56Em75RRK_Eizyfgbq4du_kcpPpyfaT1MfycGLmP-1FQbwI3iVf6qxw1VaqnHL3Mlxd0_006pig7QXm_Yrn-1oSiAvcZunwxvfdOWdhRbKnO_0NgIkQcOhqpgbGtEpkdixKrM75W5BGM6JmENE5BHiWFfCqgZtQoN9zr9TfjiVzKUE5G5LEOVxgERfolX1mRvguMnKibwSweRhcxODPA3MzNSDcrQ1PEIaz0nuMXQK7p3zTJzdNLAebfrWmeAH2QsPlScgCqmlIBZJi7n=w129-h63-no?authuser=0" alt="">
                        </a>
                    </div>
                </div>
                <div class="col-lg-7 col-lg-7">
                    <div class="advanced-search">
                        <button type="button" class="category-btn">All Categories</button>
                        <form action="#" class="input-group">
                            <input type="text" placeholder="What do you need?">
                            <button type="button"><i class="ti-search"></i></button>
                        </form>
                    </div>
                </div>
                <div class="col-lg-3 text-center col-lg-3">
                    <ul class="nav-right">
                        <% if (!isAuthenticated) { %>
                        <li><a class="LS" href="/login" style="cursor: pointer;">LOGIN</a></li>
                        <span> OR </span>
                        <li><a class="LS" href="/signup" style="cursor: pointer;">SIGNUP</a></li>
                        <% } else { %>
                        <li>
                            <a class="userName" href="/admin"><%= currentUser %></a>
                        </li>
                        <li>
                            <form action="/logout" method="post">
                                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                <button type="submit" style="
                                border: none;
                                background-color: white"
                                >Logout</button>
                            </form>
                        </li>
                        <% } %>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="nav-item">
        <div class="container">
            <div class="nav-depart">
                <div class="depart-btn">
                    <i class="ti-menu"></i>
                    <span>All departments</span>
                    <ul class="depart-hover">
                        <li class="active"><a href="#">Women’s</a></li>
                        <li><a href="#">Men’s </a></li>
                        <li><a href="#">Kid's</a></li>
                        <li><a href="#">Accessories/Shoes</a></li>
                    </ul>
                </div>
            </div>
            <nav class="nav-menu mobile-menu">
                <ul>
                    <li ><a class="<%= path === '/' ? 'active' : '' %>" href="/">Home</a></li>
                    <li ><a class="<%= path === '/products' ? 'active' : '' %>" href="/products">Shop</a></li>
                    <% if (isAuthenticated) { %>
                    <li ><a class="<%= path === '/admin/add-product' ? 'active' : '' %>" href="/admin/add-product">Add
                            Product</a></li>
                    <li ><a class="<%= path === '/admin' ? 'active' : '' %>" href="/admin">My Account</a>
                        <ul class="dropdown">
                            <li><a href="/cart">Shopping Cart</a></li>
                            <li><a href="/orders">Orders</a></li>
                            <li><a href="./check-out.html">Checkout</a></li>
                            <li><a href="/admin/products">My Products</a></li>
                        </ul>
                    </li>
                    <% } %>
                </ul>
            </nav>
            <div id="dropdown-mobile" class="dropdown-mobile">
                <button id="myBtn" class=" btn ">
                    Menu <i class="ti-menu"></i>
                </button>

                <div id='myDropdown' class="dropdown-content">
                <ul>
                    <li class="grandLi"><a class="<%= path === '/' ? 'active' : '' %>" href="/">Home</a></li>
                    <li class="grandLi"><a class="<%= path === '/products' ? 'active' : '' %>" href="/products">Shop</a></li>
                    <!-- <% if (isAuthenticated) { %> -->
                    <li class="grandLi"><a class="<%= path === '/admin/add-product' ? 'active' : '' %>" href="/admin/add-product">Add
                            Product</a></li>
                    <li class="grandLi"><a class="<%= path === '/admin' ? 'active' : '' %>" href="/admin">My Account</a>
                    </li>
                    <ul class="dropdown">
                        <li class="subLi"><a href="/cart">Shopping Cart</a></li>
                        <li class="subLi"><a href="./check-out.html">Orders</a></li>
                        <li class="subLi"><a href="./check-out.html">Checkout</a></li>
                        <li class="subLi"><a href="/admin/products">My Products</a></li>
                    </ul>
                    <!-- <% } %> -->
                </ul>
            </div>
            
            </div>
        </div>
    </div>
</header>
<!-- Header End -->


