<!-- <section class="pagi">
    <% if (currentPage !== 1 && previousPage !== 1) { %>
        <a href="?page=1">1</a>
    <% } %>
    <% if (hasPreviousPage) { %>
        <a href="?page=<%= previousPage %>"><%= previousPage %></a>
    <% } %>
    <a href="?page=<%= currentPage %>" class="active"><%= currentPage %></a>
    <% if (hasNextPage) { %>
        <a href="?page=<%= nextPage %>"><%= nextPage %></a>
    <% } %>
    <% if (lastPage !== currentPage && nextPage !== lastPage) { %>
        <a href="?page=<%= lastPage %>"><%= lastPage %></a>
    <% } %>
</section> -->

<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
        <% if (currentPage !== 1) { %>
        <li class="page-item"><a class="page-link" href="?page=<%= previousPage %>">Previous</a></li>
        <% } %>
        <% if (currentPage !== 1 && previousPage !== 1) { %>
        <li class="page-item"><a class="page-link" href="?page=1">1</a></li>
        <% } %>
        <% if (hasPreviousPage) { %>
        <li class="page-item"><a class="page-link" href="?page=<%= previousPage %>"><%= previousPage %></a></li>
        <% } %>
        <% if (hasNextPage) { %>
        <li class="page-item"><a class="page-link" href="?page=<%= nextPage %>"><%= nextPage %></a></li>
        <% } %>
        <% if (lastPage !== currentPage && nextPage !== lastPage) { %>
        <li class="page-item"><a class="page-link" href="?page=<%= lastPage %>"><%= lastPage %></a></li>
        <% } %>
        <% if (currentPage !== lastPage ) { %>
        <li class="page-item"><a class="page-link" href="?page=<%= lastPage %>">Next</a></li>
        <% } %>
    </ul>
</nav>